{# layouts/default.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Derafu: Spreadsheet - Unified Spreadsheet Processing for PHP{% endblock %}

{% block body %}
    {% block header %}
        <div id="header-container" class="sticky-top"></div>
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    {% block content %}{% endblock %}
                </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/spreadsheet" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/spreadsheet
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/spreadsheet" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/spreadsheet" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a href="/" class="list-group-item list-group-item-action {% if request.uri.path == '/' %}active{% endif %}">
                            README
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Docs</div>
                            <span class="smal text-muted">Guides & Examples</span>
                            </div>
                        </li>
                        <a href="/architecture" class="list-group-item list-group-item-action {% if request.uri.path == '/architecture' %}active{% endif %}">
                            Architecture
                        </a>
                        <a href="/install" class="list-group-item list-group-item-action {% if request.uri.path == '/install' %}active{% endif %}">
                            Install the library
                        </a>
                        <a href="/basic-usage" class="list-group-item list-group-item-action {% if request.uri.path == '/basic-usage' %}active{% endif %}">
                            Basic Usage
                        </a>
                        <a href="/format-handlers" class="list-group-item list-group-item-action {% if request.uri.path == '/format-handlers' %}active{% endif %}">
                            Format Handlers
                        </a>
                        <a href="/type-casting" class="list-group-item list-group-item-action {% if request.uri.path == '/type-casting' %}active{% endif %}">
                            Type Casting
                        </a>
                        <a href="/http-responses" class="list-group-item list-group-item-action {% if request.uri.path == '/http-responses' %}active{% endif %}">
                            HTTP Responses
                        </a>
                        <a href="/comparison" class="list-group-item list-group-item-action {% if request.uri.path == '/comparison' %}active{% endif %}">
                            Comparison
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
    {% endblock %}
{% endblock %}
